
.Background2{
    -fx-background-color:#4599E4;
}

.lable{
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian ,#000000,10,0.1,0,0);
}

.btn{
    /*-fx-background-color: #4599E4;*/
    -fx-text-fill: #ffff;

    //-fx-effect: dropshadow(gaussian ,#000000,10,0.1,0,0);
}

.btn:hover{

    -fx-background-color: #2083DD;
    -fx-background-radius: 0 50 50 0;
}

.lable-txt{
    fx-effect: dropshadow(gaussian ,red,10,1,1,1);
}

.dash-bord-text{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #dedede;
}

.dash-bord-text:hover{
    -fx-text-fill: #ffd459;
    -fx-font-size: 19px;
}

.image-profile{
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.55),20,0.1,2,3);
}

.dash-bord-text2{
    -fx-font-size: 25px;
    -fx-font-family: "Wingdings 3";
    -fx-text-fill: #dedede;
}
.btn-delete{
    /*-fx-background-color: #4599E4;*/
    -fx-text-fill: #BD2B41;
    -fx-background-radius: 30;
    -fx-background-color: #EFAFAD;


}
.btn-delete:hover{
    -fx-text-fill: #EFAFAD;
    -fx-background-radius: 30;
    -fx-background-color: #BD2B41;
}
